<li class="editing">
  <input type="text" autofocus
         value="<%= todo.title %>"
         class="edit"
         data-controller="todos"
         data-action="change->todos#update keypress->todos#cancelEdit"
         data-id="<%= todo.id %>">
</li>
