<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" autofocus
           placeholder="What needs to be done?"
           data-controller="todos"
           data-action="change->todos#create">
  </header>

  <% if @todos.present? %>
    <section class="main">
      <input class="toggle-all" type="checkbox">
      <label data-controller="todos" data-action="click->todos#toggleAll">Mark all as complete</label>
      <ul class="todo-list">
        <%= render partial: "todo", collection: @todos %>
      </ul>
    </section>
  <% end %>

  <%= render "/todos/filters" unless @completed_count.zero? && @active_count.zero? %>
</section>
