<section class="todoapp" data-controller="todo">
  <header class="header">
    <h1>
      todos
    </h1>
    <input autofocus class="new-todo" placeholder="What needs to be done?" data-reflex="todo#create" data-reflex-value>
  </header>

  <% if @all_todos.any? %>
    <section class="main">
      <input class="toggle-all" type="checkbox">
      <label data-reflex="todos#toggle_all">
        Mark all as complete
      </label>
      <ul class="todo-list">
        <%= render partial: "todo", collection: @filtered_todos %>
      </ul>
    </section>
  <% end %>

  <%= render "/todos/filters" if @all_todos.any? %>
</section>

<div style="position:relative; top:-10px; left:10px;">
  <iframe src="https://ghbtns.com/github-btn.html?user=hopsoft&repo=stimulus_reflex_todomvc&type=star&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=hopsoft&repo=stimulus_reflex_todomvc&type=fork&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=hopsoft&type=follow&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
  <iframe src="https://ghbtns.com/github-btn.html?user=andrewmcodes&type=follow&count=true" frameborder="0" scrolling="0" style="height:20px;"></iframe>
</div>
